.flex {
  display: flex;
}

.alignRow {
    display: flex;
    flex-direction: row;
}

.alignColumn {
    display: flex;
    flex-direction: column;
}

.book {
    width: 20%;
    margin: 30px;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 30px;
}

.rating {
    width: 85%;
}
.ratingText {
    font-size: medium;
    font-weight: bold;
    position: absolute;
    left: 10px;
}

.restrictionSize {
    max-width: 23%;
}

.rating2 {
    width: 30%;
}

.facebook {
    background-color: blue;
    padding: 1%;
    align-items: center;
    width: 10%;
    max-height: 15%;
}

.twitter {
    background-color: skyblue;
    padding: 1%;
    align-items: center;
    width: 10%;
    max-height: 15%;
}

.whatsapp {
    background-color: green;
    padding: 1%;
    align-items: center;
    width: 10%;
    max-height: 15%;
}

.email {
    background-color: gray;
    padding: 1%;
    align-items: center;
    width: 10%;
    max-height: 15%;
}

.positionRating {
    position: relative;
    top: 100px;
    right: 220px;
}

.profile {
    width: 7%;
}

.shipping {
    background-color: rgb(157, 167, 231);
    padding: 10%;
    max-width: 5%;
    max-height: 2%;
}


.stocks {
    background-color: rgb(157, 231, 157);
    padding: 10%;
    max-width: 5%;
    max-height: 2%;
}

.newPrice {
    font-size: large;
    font-weight: bold;
    margin: 10px;
}

.oldPrice {
    font-size: medium;
    color: gray;
    text-decoration: line-through;
    margin: 10px;
}

.reduction {
    background-color: rgb(255, 174, 0);
    color: white;
    font-weight: bold;
    padding: 1%;
    margin: 10px;
    max-width: 3.5%;
}

.quantity {
    position: relative;
    top: 10px;
    margin: 10px;
}

.cart {
    background-color: rgb(100, 13, 230);
    margin: 10px;
}

.cartLike {
    width: 2%;
    height: 1%;
    position: relative;
    top: 20px;
}

.heart {
    width: 100%;
    position: relative;
    bottom: 3px;
}

.separator {
    border: black dotted;
}